<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyving.ocean.dao.mapper.RelPointLabelMapper" >
  <resultMap id="BaseResultMap" type="com.hyving.ocean.model.entity.RelPointLabel" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="point_id" property="pointId" jdbcType="VARCHAR" />
    <result column="label_id" property="labelId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, point_id, label_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from pointlabelrelation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from pointlabelrelation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hyving.ocean.model.entity.RelPointLabel" >
    insert into pointlabelrelation (id, point_id, label_id
      )
    values (#{id,jdbcType=VARCHAR}, #{pointId,jdbcType=VARCHAR}, #{labelId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyving.ocean.model.entity.RelPointLabel" >
    insert into pointlabelrelation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pointId != null" >
        point_id,
      </if>
      <if test="labelId != null" >
        label_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pointId != null" >
        #{pointId,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null" >
        #{labelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyving.ocean.model.entity.RelPointLabel" >
    update pointlabelrelation
    <set >
      <if test="pointId != null" >
        point_id = #{pointId,jdbcType=VARCHAR},
      </if>
      <if test="labelId != null" >
        label_id = #{labelId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyving.ocean.model.entity.RelPointLabel" >
    update pointlabelrelation
    set point_id = #{pointId,jdbcType=VARCHAR},
      label_id = #{labelId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>